TrinityCoreAdmin/Service References/TheRaidersAPI/TheRaidersAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/TheRaidersAPI/" targetNamespace="http://localhost/TheRaidersAPI/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="SayHelloSoapIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SayHelloSoapOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="name" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="return" type="s:string" />
  </wsdl:message>
  <wsdl:portType name="TheRaidersAPISoap">
    <wsdl:operation name="SayHello">
      <wsdl:input message="tns:SayHelloSoapIn" />
      <wsdl:output message="tns:SayHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TheRaidersAPISoap" type="tns:TheRaidersAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://localhost/TheRaidersAPI/SayHello" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://localhost/TheRaidersAPI/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="name" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://localhost/TheRaidersAPI/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/TheRaidersAPI/HelloWorld" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://localhost/TheRaidersAPI/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="name" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://localhost/TheRaidersAPI/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="return" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TheRaidersAPI">
    <wsdl:port name="TheRaidersAPISoap" binding="tns:TheRaidersAPISoap">
      <soap:address location="http://localhost/TheRaidersAPI/index.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>